# -*- mode: conf -*-

[Unit]
Description=Push acceptor for ephemeral and batch jobscollectors.
Documentation=https://github.com/prometheus/pushgateway
After=network.target

[Service]
EnvironmentFile=-/etc/default/pushgateway
User=prometheus
ExecStart=/usr/bin/pushgateway $PUSHGATEWAY_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
